#selectable .ui-selecting { background: #CCC; }
#selectable .ui-selected { background: #CCC; color: black; }

.calender-table tr td,th {
    border:1px solid #000;
    width: 30px;
    height: 30px;
    text-align: center;
}



.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }